td {
  text-align: center;
}
th {
  font-size: x-large;
  vertical-align: middle;
}
th.heading {
  font-size: xx-large;
  text-align: center;
}
div.box {
  border: 5px solid black;
  height: 50px;
  width: 50px;
  display: inline-block;
}
div.wide-box {
  border: 5px solid black;
  height: 100px;
  width: 150px;
  display: inline-block;
}