.check {
  border: 5px solid black;
  height: 50px;
  width: 50px;
  display: inline-block;
}
.track {
  border: 5px solid black;
  height: 100px;
  width: 100px;
  display: inline-block;
}

span.task-detail{
  font-size: x-large;
  padding-left: 10px;
}

.padding-0 {
    padding-right:0;
    padding-left:0;
}

.list-group-item  {
  background-color: inherit;
  padding-left: 0;
  padding-right: 0;
}

th.task-name {
  white-space: nowrap;
  padding-bottom: 4.8px;
  vertical-align: middle;
}